{% load helpers %}

<a href="{{ record.get_absolute_url }}">{{ record }}</a>

<br>

{% if record.primary_ip4 %}

    {% if "8.8.8.8" in record.primary_ip4.address|stringformat:"s" %}
        <span style="color: limegreen; font-weight: bold;">
            ● ONLINE
        </span>
    {% else %}
        <span style="color: red; font-weight: bold;">
            ● OFFLINE
        </span>
    {% endif %}

{% else %}

    <span style="color: gray; font-weight: bold;">
        ● UNKNOWN
    </span>

{% endif %}
